@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply
  text-5xl 
  mb-5
  text-green-600
}

h2 {
  @apply
  text-3xl 
  mb-2
  text-green-800
}

.btn {
  @apply
  text-yellow-200
  bg-green-800
  pt-1 pb-1 pl-3 pr-3
  rounded-md
  hover:bg-green-600
  hover:text-yellow-100
  disabled:bg-gray-400
  disabled:text-black
  my-5
}

.img-1 {
  @apply
  flex
  justify-center
  my-5
}

.img-2 {
  @apply
  block
  mx-auto
  my-5
}

/* ATTENTION -> utiliser Tailwind !! */
table th,
table td {
  border: 1px solid #b2b2b2;
  padding: 0.2rem 1rem;
}
table td {
  border: 1px solid #b2b2b2;
  min-width: calc(20ch + 1rem);
}